<div class="container">
    <div class="row">
        <div class="span2"></div>
        <div class="span8">
          <div class="content">
            <%@pages.each do |page| %>
            <div class="row-fluid listing">
              
                <div class="row-fluid">
                    <div class="title">
                        <a href="<%=read_url(page.url)%>"><%=page.title%></a>
                    </div>
                </div>
                <div class="row-fluid">
                  <div class="span4 tags">
                      
                        <%(page.tags || []).each do |tag|%>
                        <a class="label label-inverse">
                            <%=tag%>
                        </a>
                        <%end%>
                      
                  </div>
                  <div class="span8 url">
                      <a href="<%=read_url(page.url)%>">/<%=page.url%> <span class="goto">-&gt;</span></a>
                  </div>                    
                </div>
              
            </div>
            <%end%>
            </div>
        </div>
        <div class="span2">        
        </div>
    </div>
</div>
